/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* css styles */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.right {
  text-align: right !important
}

body {
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
  color: #212129;
}

.text-dark {
  color: #212129;
}

.text-col1 {
  color: #4b2e83;
}

.text-col2 {
  color: #f6f5f3;
}

.title {
  font-size: 2em;
  font-weight: 600;
  color: #f6f5f3;
  font-family: "Ubuntu", sans-serif;
}

.subtitle {
  font-size: 1.25em;
  font-weight: 400;
  color: #f6f5f3;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: left;
  color: #212129;
}

h2 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: left;
  color: #212129;
}

h3 { 
  display: block;
  font-size: 1.5em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #212129;
}

h4 { 
  display: block;
  font-size: 1em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  color: #212129;
}

/* Landing page */
.bg-col1 {
  background-color: #4b2e83;
}

.bg-col2 {
  background-color: #f6f5f3;
}

.bg-img {
  background-image:  linear-gradient( rgba(0,0,0,.3), rgba(0,0,0,.3) ), url("/images/BA161981.JPG");
  background-size: 100vw;
  background-attachment: fixed;
}

/* Transparent text box styling */
.transparent-box {
    color: #212129;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for depth */
}

.button {
    display: inline-block;
    padding: 3px 10px;
    background-color: #4b2e83; /* Button background color */
    color: #f6f5f3; /* Button text color */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.button:hover {
    background-color: #f6f5f3; /* Darker shade on hover */
    color: #4b2e83;
}